@font-face {
    font-family: raleway;
    /* font-style: normal; */
    /* font-weight: 400; */
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: ralewayBold;
    /* font-style: normal; */
    /* font-weight: 700; */
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: ralewayMedium;
    /* font-style: normal; */
    /* font-weight: 500; */
    src: url('fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: ralewaySemi;
    /* font-style: normal; */
    /* font-weight: 600; */
    src: url('fonts/Raleway-SemiBold.ttf');
}
#logout {
    position: absolute;
    right: 50px;
    top: 25px;
}

.header {
    position: absolute;
    width: 100vw;
    height: 100px;
    top:0;
    left: 0;
    background-color: #FF6F61;
}

.topimg {
    position: absolute;
    width:100vw;
    left:0;
    top:100px;
}

body {
    font-family: raleway, sans-serif;
}

h2 {
    font-size: 30;
}
.content {
    position: relative;
    text-align: center;
    top:3.75in;
    padding:10px;
    width: 850px;
    margin: auto;
    /* background-color: #e0e0e0; */
}


.tbox {
    border: 1px solid #39312C;
    border-radius: 15px;
    height: 70px;
    width: 370px;
    text-align: center;
    font-size: 18;
    margin:0 0 10px 0;
}


.title-left {
    position: absolute;
    /* text-align:left; */
    left: 40px;
}

.title-right {
    position: relative;
    /* text-align:left; */
    left: 85px;
    margin: 0;
}


.tbox:focus {
    border: 2px solid #FF6F61;
}
.tbox:focus::placeholder {
    opacity: 0;
}

#fname, #pnumber, #dob, #chname{
    margin-right:48px
}

.section-title {
    margin:0;
    text-align: left;
    font-family: ralewayMedium;
}

#address {
    width: 790px;
}

#fromdate, #fromtime, #todate, #totime{
    width: 185px;
}

#bigbox {
    width: 790px;
    height: 200px;
}

.submit {
    background-color:#FF6F61;
    border: 0px solid black;
    border-radius: 15px;
    font-family: ralewaySemi, sans-serif;
    color: white;
    height: 3vw;
    width: 15vw;
    font-size:1vw;

    position: relative;
    /* text-align:left; */
    left: 300px;
    margin: 0;
}

.submit:hover{
    background-color: #FFB6AF;
}



.submit:visited {
background-color: #FF9388;
}
.submit1:hover{
    background-color: #FFB6AF;
}

.submit1 {
    background-color:#FF6F61;
    border: 0px solid black;
    border-radius: 15px;
    font-family: ralewaySemi, sans-serif;
    color: white;
    height: 60px;
    width: 220px;
    font-size:18px;
    top: 550px;
    

    position: relative;
    /* text-align:left; */
    margin: 0;
}

.submit1:visited {
background-color: #FF9388;
}
.hidden{
    display:none;
}

.background {     

    -webkit-filter: blur(20px);     
    
    filter: blur(20px);      
    
    }
#profile_information_title{
    position: absolute;
    
    top: 212px;
    left:513px;
    height:654px;
    width: 894px;
    border-radius: 30px;
    background-color:white;
    text-align: center;
}
#congratulations{
    position: absolute;
    
    top: 212px;
    left:513px;
    height:654px;
    width: 894px;
    border-radius: 30px;
    background-color:white;
    text-align: center;
}
#error{
    position: absolute;
    
    top: 212px;
    left:513px;
    height:654px;
    width: 894px;
    border-radius: 30px;
    background-color:white;
    text-align: center;
}
.back_login{
    position:absolute;
    width:40.44px;
    height:49.08px;
    right:50px;
    top:25px;
}
#profile{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 18px;
    top:200px;
    left:120px;
    
}
#profile>p{
    position: absolute;
    font-family: raleway, sans-serif;
    font-size: 12px;
    top:280px;
    
    width:500px;
    
}
.text1{
    position: absolute;
    font-family: ralewayMedium, sans-serif;
    font-size: 18px;
    left:400px;
    width:250px;
}

.leftbox1 {
    position: absolute;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    top: 100px;
    left: 220px;
}
#seten{
    position: absolute;
    font-family: ralewayMedium, sans-serif;
    font-size: 18;
    top: 500px;
    left: 250px;
}
#title{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 35px;
    color:white;
    background-color: #FF6F61;
    width:894px;
    height:90px;
    
    border-radius: 15px;
    

}
#read{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 24px;
    height:20px;
    width:594px;
    top:100px;
    left:180px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}