@font-face {
    font-family: raleway, sans-serif;
     font-style: normal; 
     font-weight: 400; 
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: ralewayBold, sans-serif;
     font-style: normal; 
     font-weight: 700; 
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: ralewayMedium, sans-serif;
     font-style: normal; 
     font-weight: 500; 
    src: url('fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: ralewaySemi, sans-serif;
     font-style: normal; 
     font-weight: 600; 
    src: url('fonts/Raleway-SemiBold.ttf');
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

body{
    font-family: raleway, sans-serif;
}

#logo_pic{
    position: absolute;
    left: 30px;
    height: 50px;
    border-radius: 25px;
}

#profile{
    position: absolute;
    right: 40px;
    height: 50px;
    top: 60px;
    border-radius: 50%;
}

#header{
    position: absolute;
    width: 100%;
    height: 100px;
    top:0;
    left: 0;
    background-color: #FF6F61;
}

#Hello_name{
    position: absolute;
    top: 85px; 
}

#Pending_job{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 115px;
    padding-left: 20px;
}

#Accepted_job{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 300px;
    padding-left: 20px;
}

#Past_job{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 480px;
    padding-left: 20px;
}

#logoutImg {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 10px;
    right: 10px;
}

#PJbox {
    position: absolute;
    font-family: railwayBold, sans-serif;
    top: 60px;
    left: 170px;
    border-radius: 25px;
    height: 135px;
    width: 135px;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    color: #FF6F61;
    text-align: center;
}

#PJbox:hover{
    background-color: #FFB6AF;
    color: #ffffff;
}

#new_job {
    position: absolute;
    top: 60px;
    left: 20px;
    border-radius: 25px;
    height: 135px;
    width: 135px;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
}

#AJbox {
    position: absolute;
    font-family: railwayBold, sans-serif;
    text-align: center;
    top: 60px;
    left: 20px;
    border-radius: 25px;
    height: 135px;
    width: 135px;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    background-color: #FF6F61;
    text-decoration-color: black;
}

#AJbox:hover {
    background-color: #39312c;
    color: #ffb6af;
}

#PaJbox {
    position: absolute;
    top: 60px;
    left: 20px;
    border-radius: 25px;
    height: 135px;
    width: 135px;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    color: #ffffff;
    background-color: #39312c;
}

#PaJbox:hover {
    background-color: #ffffff;
    color: black;
}

#babysitters{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 680px;
    padding-left: 20px;
}

#add_sitter {
    position: absolute;
    height: 135px;
    top: 50px;
    left: 20px;
    border-radius: 50%;
}

#icon {
    position: absolute;
    right: -10px;
    height: 40px;
    top: -10px;
    border-radius: 50%;
}

.box_text {
    position: absolute;
    font-family: railwayBold, sans-serif;
    font-size: 16px;
    bottom: 20%;
    left: 15px;
}

.sub_text {
    position: absolute;
    font-family: railwaySemi, sans-serif;
    font-size: 12px;
    bottom: 10%;
    left: 15px;
}

#look_at_me {
    position: absolute;
    height: 135px;
    top: 50px;
    left: 170px;
    border-radius: 50%;
    

}

.name {
    position: absolute;
    bottom: -20px;
    padding-left: 170px;
    font-family: railwaySemi, sans-serif;
    font-size: 12px;
}

@media only screen and (max-width: 600px){
    #Hello_name{
        position: absolute;
        right: 30%;
        text-align: center;
        top: 130px; 
    }

    #logo_pic {
        height: 100px;
        left: 40%;
        top: 0px;
    }

    #Pending_job {
        top: 205px;
        height: 500px;
    }

    #PJbox{
        height: 150px;
    }

    #AJbox{
        height: 150px;
    }

    #PAJbox{
        height: 150px;
    }

    #Accepted_job{
        top: 710px;
        height: 310px;
    }

    #Past_job{
        top: 1020px;
        height: 310px; 
    }

    #babysitters{
        top: 1350px;
        height: 600px;
    }

    #look_at_me {
        height: 150px;
        padding: 5px;
    }

    .box_text{
        font-size: 12px;
    }

    .sub_text{
        font-size: 10px;
    }

    #icon{
        height: 50px;
    }

    #add_sitter{
        height: 150px;
    }

    #new_job{
        height: 150px;
    }

    #logo_pic{
        right: 40%;
    }

}
