@font-face {
    font-family: raleway;
    /* font-style: normal; */
    /* font-weight: 400; */
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: ralewayBold;
    /* font-style: normal; */
    /* font-weight: 700; */
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: ralewayMedium;
    /* font-style: normal; */
    /* font-weight: 500; */
    src: url('fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: ralewaySemi;
    /* font-style: normal; */
    /* font-weight: 600; */
    src: url('fonts/Raleway-SemiBold.ttf');
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

body{
    font-family: raleway, sans-serif;
    background-color: #FFFFFF;
}

a {
    color: #FF6F61;
    font-size: 16px;
    text-decoration: none;
}

.leftbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

#baby {
    position: absolute;
    object-fit: cover;
    opacity: 0.7;
    top:0;
    left:0;
    width: 100%;
}

#image {
    background-color: #FF6F61;
}

#welcome_box{
    text-align: center;
    position: absolute;
    left: 100vh;
    top: 0;
    height: 100vh;
    width: 100vw - 100vh;
    object-fit: cover;
}

#login_box {
    position: absolute;
    text-align: center;
    padding: 8vw 13vw;
}




.tbox {
    border: 1px solid #39312C;
    border-radius: 15px;
    height: 3vw;
    width: 15vw;
    text-align: center;
    font-size: 1vw;
    margin:0 0 5px 0;
}

.tbox:focus {
    border: 2px solid #FF6F61;
    /* font-size: */
}
.tbox:focus::placeholder {
    opacity: 0;
}

.submit {
    background-color:#FF6F61;
    border: 0px solid black;
    border-radius: 15px;
    font-family: ralewaySemi, sans-serif;
    color: white;
    height: 3vw;
    width: 15vw;
    font-size:1vw;
}

.submit:hover{
    background-color: #FFB6AF;
}



.submit:visited {
background-color: #FF9388;
}
a:hover{
    color: #FFB6AF;
}
/* a:visited {
    color: #FF9388;
} */

h1 {
    font-size: 2vw;
    font-family: raleway, sans-serif;
}

h2 {
    font-size: 1vw;
    font-family: raleway, sans-serif;
}

/* #707070 */
/* #cdcbca */
/* #9b9795 */

@media only screen and (max-width: 600px){
    .leftbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 146px;
    }

    #baby {
        position: absolute;
        object-fit: cover;
        opacity: 0.7;
        top:0;
        left:0;
        width: 100%;
        height: 146px;
    }

    #welcome_box{
        text-align: center;
        position: absolute;
        left: 17%;
        top: 150px;
        height: 327px;
        width: 325px;
        object-fit: cover;
    }

    #login_box {
        position: absolute;
        text-align: center;
        padding: 20px 25px;
    }

    .tbox {
        height: 50px;
        width: 325px;
        margin: 0px 0px 10px 0px;
    }

    .continue_box{
        margin: 25px 0px 0px 0px;
    }

    .submit {
        height: 50px;
        width: 325px;
    }

    .tbox{
        font-size: 12px;
    }

    .submit{
        font-size: 12px;
    }

    h1{
        font-size: 24px;
    }

    h2{
        font-size: 20px;
    }
}