@font-face {
    font-family: raleway;
    /* font-style: normal; */
    /* font-weight: 400; */
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: ralewayBold;
    /* font-style: normal; */
    /* font-weight: 700; */
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: ralewayMedium;
    /* font-style: normal; */
    /* font-weight: 500; */
    src: url('fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: ralewaySemi;
    /* font-style: normal; */
    /* font-weight: 600; */
    src: url('fonts/Raleway-SemiBold.ttf');
}
#header{
    position:absolute;
    background-color: #ff6f61;
    left:0px;
    top:0px;
    height:100px;
    width:1920px;
    text-align:right;
}
.back_login{
    position:absolute;
    width:40.44px;
    height:49.08px;
    right:50px;
    top:25px;
}
.box{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 10px;
    left:50px;

}
#back_button{
    position: absolute;
    font-family: ralewaySemi, sans-serif;
    font-size:18;
    top:120px;
    left:25px;
}
#profile_title{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 35;
    top:140px;
    left:140px;
    
}
.leftbox {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 280px;
    left: 140px;
}


#profile_name> h1{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 35;
    top: 335px;
    left: 370px;
}
#profile_name> p{
    position: absolute;
    font-family: ralewayMedium, sans-serif;
    font-size: 18;
    top: 376px;
    left: 370px;
}
#profile_information_title{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 24;
    top: 508px;
    left: 192px;
    width:4in;


}
.text{
    position: absolute;
    font-family: ralewayMedium, sans-serif;
    font-size: 18;
    left:200px;
}
#profile_information_text>p{
    position: absolute;
    font-family: raleway, sans-serif;
    font-size: 12;
    top:847px;
    left:205px;
}
#link_resume{
    position: absolute;
    font-family: ralewaySemi, sans-serif;
    background-color: #ff6f61;
    top:900px;
    left:260px;
    border-radius:15px;
    width: 220px;
    height: 60px;
    text-align: center;
    line-height: 60px;

    
}
#link_edit{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 18;
    top: 980px;
    left: 354px;
    color:#EDAA86;
    text-decoration: none;

}
a:visited{
    color:#EDAA86;
    text-decoration: none;

}
a{
    color:#EDAA86;
    text-decoration: none;

}
#Accepted_job{

    position: absolute;

    height: 30vh;

    width: 100vw;

    top: 33vh;

    padding-left: 2vw;

    left:90vh;

}
#Past_job{

    position: absolute;

    height: 15vh;

    width: 100vw;

    top: 65vh;

    padding-left: 2vw;
    
    left:90vh;
}
#sizeOfh4{
    font-family: railwayBold, sans-serif;
    font-size:30px;
}

#AJbox {

    position: absolute;
    
    font-family: railwayBold, sans-serif;
    
    text-align: center;
    
    top: 80px;
    
    left: 75px;
    
    border-radius: 30px;
    
    height: 200px;
    
    width: 200px;
    
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    
    background-color: #FF6F61;
    
    text-decoration-color: black;
}    
    
    
    
#AJbox:hover {
    
    background-color: #39312c;
    
    color: #ffb6af;
    
}
    
    
    
#PaJbox {
    
    position: absolute;
    
    top: 80px;
    
    left: 75px;
    
    border-radius: 30px;
    
    height: 200px;
    
    width: 200px;
    
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    
    color: #ffffff;
    
        background-color: #39312c;
    
    }
    
    
    
#PaJbox:hover {
    
    background-color: #ffffff;
    
    color: #39312c;
    
}
.box_text {

    position: absolute;
    
    font-family: railwayBold, sans-serif;

    font-size: 24px;
    
    bottom: 20%;
    
    left: 15px;
    
}
    
    
    
.sub_text {
    
    position: absolute;
    
    font-family: railwaySemi, sans-serif;
    
    font-size: 18px;
    
    bottom: 10%;
    
    left: 15px;
    
}
    
@media only screen and (max-width: 600px){
    #profile_information_title{
        position: absolute;
        height: 315px;
        width: 330px;
        top: 370px;
        left: 44px;
    }

    #header{
        width: 100%;
        height: 100px;
    }

    .box{
        left: 50%;
    }


    #profile_name>h1{
        font-size: 30;
        top: 270px;
        left: 154px;
        width: 200px;
    }

    #profile_name>p{
        top:303px;
        left: 154px;
        width: 200px;
    }

    .logo{
        height: 100px;
        left: 40%;
    }

    .leftbox{
        height: 100px;
        width: 100px;
        left: 37px;
        top: 245px;
    }

    #Accepted_job{
       left: 37px;
       top: 650px;
       height: 215px;
       width: 400px;
    }

    #AJbox{
        height: 140px;
        width: 148px;
        left: 13px;
    }

    #Past_job{
        left: 37px;
        top: 870px;
        height: 215px;
        width: 400px;
    }

    #PaJbox{
        height: 140px;
        width: 148px;
        left: 13px;
    }

    #link_resume{
        height: 60px;
        width: 220px;
        top: 1145px;
        left: 100px;
    }

    #link_edit{
       height: 21px;
       width: 33px;
       top: 1223px;
       left: 191px; 
    }

    .box_text{
        font-size: 16px;
        left: 15%;
    }

    .sub_text{
        font-size: 10px;
        left: 15%;
    }

    #profile_information_text> p{
        top: 620px;
        right: 44px;
        height: 14px;
        width: 315px;
        font-size: 10px;
    }
}