@font-face {
    font-family: raleway, sans-serif;
     font-style: normal; 
     font-weight: 400; 
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: ralewayBold, sans-serif;
     font-style: normal; 
     font-weight: 700; 
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: ralewayMedium, sans-serif;
     font-style: normal; 
     font-weight: 500; 
    src: url('fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: ralewaySemi, sans-serif;
     font-style: normal; 
     font-weight: 600; 
    src: url('fonts/Raleway-SemiBold.ttf');
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

body{
    font-family: raleway, sans-serif;
}

#logoutImg {
    position: absolute;
    width: 50px;
    top: 10px;
    right: 60px;
    color: #ffffff;
    text-decoration: none;
}

#back_button{
    position: absolute;
    font-family: ralewaySemi, sans-serif;
    font-size:18;
    top:120px;
    left:25px;
}

a{
    color:#EDAA86;
    text-decoration: none;
}


#logo_pic{
    position: absolute;
    left: 30px;
    height: 70px;
    border-radius: 25px;
    top: 10px;
}

#profile{
    position: absolute;
    right: 40px;
    height: 100px;
    top: 132px;
    border-radius: 50%;
}

#header{
    position: absolute;
    width: 100%;
    height: 100px;
    top:0;
    left: 0;
    background-color: #FF6F61;
}

#Hello_name{
    position: absolute;
    top: 150px; 
    left: 80px;
}

#Pending_job{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 210px;
    left: 100px;
    padding-left: 20px;
}

#Accepted_job{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 420px;
    left:100px;
    padding-left: 20px;
}

#Past_job{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 630px;
    left: 100px;
    padding-left: 20px;
}

#logoutImg {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 10px;
    right: 60px;
}

#PJbox {
    position: absolute;
    font-family: railwayBold, sans-serif;
    top: 60px;
    left: 50px;
    border-radius: 25px;
    height: 135px;
    width: 135px;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    color: #FF6F61;
    text-align: center;
}

#PJbox:hover{
    background-color: #FFB6AF;
    color: #ffffff;
}


#AJbox {
    position: absolute;
    font-family: railwayBold, sans-serif;
    text-align: center;
    top: 60px;
    left: 50px;
    border-radius: 25px;
    height: 135px;
    width: 135px;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    background-color: #FF6F61;
    text-decoration-color: black;
}

#AJbox:hover {
    background-color: #39312c;
    color: #ffb6af;
}

#PaJbox {
    position: absolute;
    top: 60px;
    left: 50px;
    border-radius: 25px;
    height: 135px;
    width: 135px;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    color: #ffffff;
    background-color: #39312c;
}

#PaJbox:hover {
    background-color: #ffffff;
    color: black;
}

#babysitters{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 840px;
    left: 100px;
    padding-left: 20px;
}

#icon {
    position: absolute;
    right: -10px;
    height: 40px;
    top: -10px;
    border-radius: 50%;
}

#add_sitter {
    position: absolute;
    height: 135px;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}


.box_text {
    position: absolute;
    font-family: railwayBold, sans-serif;
    font-size: 16px;
    bottom: 20%;
    left: 15px;
}

.sub_text {
    position: absolute;
    font-family: railwaySemi, sans-serif;
    font-size: 12px;
    bottom: 10%;
    left: 15px;
}

#look_at_me {
    position: absolute;
    height: 135px;
    top: 50px;
    left: 200px;
    border-radius: 50%;
    

}

.name {
    position: absolute;
    top: 200px;
    padding-left: 210px;
    font-family: railwaySemi, sans-serif;
    font-size: 12px;
}

.submit1:hover{
    background-color: #FFB6AF;
}

.submit1 {
    background-color:#FF6F61;
    border: 0px solid black;
    border-radius: 15px;
    font-family: ralewaySemi, sans-serif;
    color: white;
    height: 60px;
    width: 220px;
    font-size:18px;
    top: 550px;
    left:300px;

    position: relative;
    /* text-align:left; */
    margin: 0;
}

.submit1:visited {
background-color: #FF9388;
}

.hidden{
    display:none;
}
.background {     

    -webkit-filter: blur(20px);     
    
    filter: blur(20px);      
    
    }
#profile_information_title{
    position: absolute;
    
    top: 212px;
    left:513px;
    height:654px;
    width: 894px;
    border-radius: 30px;
    background-color:white;
    
}
.back_login{
    position:absolute;
    width:40.44px;
    height:49.08px;
    right:50px;
    top:25px;
}
     


.text1{
    position: absolute;
    font-family: ralewayMedium, sans-serif;
    font-size: 18px;
    left:400px;
    width:600px;
}


#title{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 35px;
    color:white;
    background-color: #FF6F61;
    width:894px;
    height:90px;
    text-align: center;
    border-radius: 15px;
    

}
#read{
    position: absolute;
    font-family: ralewayBold, sans-serif;
    font-size: 24px;
    height:20px;
    width:594px;
    top:100px;
    left:180px;

}

@media only screen and (max-width: 1000px){
    #Hello_name{
        position: absolute;
        right: 30%;
        text-align: center;
        top: 100px; 
    }

    #Pending_job {
        top: 200px;
        height: 500px;
    }

    #PJbox{
        height: 150px;
    }

    #AJbox{
        height: 150px;
    }

    #PAJbox{
        height: 150px;
    }

    #Accepted_job{
        top: 710px;
        height: 310px;
    }

    #Past_job{
        top: 1020px;
        height: 310px; 
    }

    #babysitters{
        top: 1350px;
        height: 600px;
    }

    #look_at_me {
        height: 50px;
        padding: 5px;
    }

    .box_text{
        font-size: 12px;
    }

    .sub_text{
        font-size: 10px;
    }

    #icon{
        height: 50px;
    }

    #add_sitter{
        height: 150px;
    }

    #new_job{
        height: 150px;
    }

    #logo_pic{
        left: 0px;
        height: 40px;
    }

}