{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Add a Job</title>
        <link rel="stylesheet" href="{% static 'sit/addjob.css' %}">
        
    </head>
    <body>
    <div id ="whole">
        <div class="header">
            <a href="/" id="logout"><img src="{% static 'sit/images/logout.png' %}"></a>
        </div>
        <img class="topimg" src="{% static 'sit/images/boys.jpg' %}">

        <div class="content">
            <h2>Job Offer</h2>
            <form>
                <span class="section-title"><h3>Client's Contact Information</h3></span><br>
                <span class="title-left" id="text-name">Name</span><br>
                <input type="text" id="fname" class="tbox" name="first" placeholder="First name">
                <input type="text" id="lname" class="tbox" name="last" placeholder="Last name"><br>
                <span class="title-left" id="text-phone">Phone Number</span>
                <span class="title-right" id="text-email">Email Address</span><br>
                <input type="tel" id="pnumber" class="tbox" name="phone" placeholder="(123) 456-7890">
                <input type="email" id="email" class="tbox" name="email" placeholder="info@contact.com"><br><br>
                <span class="section-title"><h3>Booking Information</h3></span><br>
                <span class="title-left" id="text-address">Hotel or Venue Address</span><br>
                <input type="text" id="address" class="tbox" name="address" placeholder="Click to edit"><br>
                <span class="title-left">From</span>
                <span class="title-right">To</span><br>
                <input type="date" id="fromdate" class="tbox" name="fromdate" placeholder="mm/dd/yyyy">
                <input type="time" id="fromtime" class="tbox" name="fromtime" placeholder="HH:MM am/pm" style="margin-right: 35px">
                <input type="date" id="fromdate" class="tbox" name="fromdate" placeholder="mm/dd/yyyy">
                <input type="time" id="fromtime" class="tbox" name="fromtime" placeholder="HH:MM am/pm">
                <span class="section-title"><h3>Children</h3></span><br>
                <span class="title-left" id="text-name">Child 1</span><br>
                <input type="text" id="chname" class="tbox" name="chfirst" placeholder="First name">
                <input type="number" id="age" class="tbox" name="age" placeholder="Age"><br>
                <span class="title-left" id="text-name">Child 2</span><br>
                <input type="text" id="chname" class="tbox" name="chfirst" placeholder="First name">
                <input type="number" id="age" class="tbox" name="age" placeholder="Age"><br>
                <span class="title-left" id="text-name">Important details to know</span><br>
                <input type="text" id="bigbox" class="tbox" name="bigbox" placeholder="Click to Edit">

                
                <button class = "submit" type="button" onclick="hideElem()">Next</button>
                
            </form>
        </div>
    </div>
        <div id="profile_information_title" class = "hidden" >
            <div id ="title">
                <p> Job Offer</p>
                <img class = "back_login" src = "{% static 'sit/images/logout.png' %}" onclick="exit()"></a>
            </div>
            <div id ="read">
                <p>Please review all the information before submitting</p>
            </div>
           
            
            <ul id = "profile" style="list-style-type:square;">          
            
            <li >Name <span class = "text1">Anne Dupont</span></li>
            <br>
            <li >Email <span class = "text1">anne.dupont@gmail.com</span></li>
            <br>
            <li >Hotel or venue address <span class = "text1">Hotel Park City</span></li>
                <br>
            <li >From <span class = "text1">Thursday,October 16 - 11AM</span></li>
            <br>
            <li >To <span class = "text1">Thursday,October 16 - 11AM</span></li>
            <br>
            <li >Children <span class = "text1">Lisa 3 years old<br> Weston 5 years old</span></li>
            <br>
            <li >Important details yo know <span class = "text1">None</span></li>
            <br>
        
            <p >Experience with Physically/Mentally Challenged children</p>
        </ul>
            
        <input type="submit" class="submit1" value="Submit" onclick="success()">
            </a>
        

        </div>
        <div id="congratulations" class = "hidden" >
                <div id ="title">
                    <p> Congratulations!</p>
            
                </div>
                
                <div id="image" class="leftbox1">
                    <img class="leftbox1" id="sitters" src="{% static 'sit/images/profiles.jpg' %}">
                </div>
                <div id ="seten">
                <p>Your new joboffer has been successfully created</p>
            </div>
                <input type="submit" class="submit1" value="Go to homepage" onclick="error()">
                </a>
            
    
            </div>
            <div id="error" class = "hidden" >
                    <div id ="title">
                        <p> Warning</p>
                
                    </div>
                    
                    <div id="image" class="leftbox1">
                        <img class="leftbox1" id="sitters" src="{% static 'sit/images/profiles.jpg' %}">
                    </div>
                    <div id ="seten">
                    <p>Something went wrong and your job offer has not been created</p>
                </div>
                    <input type="submit" class="submit1" value="ok" onclick="hidElem()">
                    </a>
                
        
                </div>
        
        <script>
            function exit() {
              document.getElementById("profile_information_title").classList.add("hidden"); 
              document.getElementById("whole").classList.remove("background"); 
                }
            function hideElem() {
              document.getElementById("profile_information_title").classList.remove("hidden"); 
              document.getElementById("whole").classList.add("background"); 
                }
            function hidElem() {
              document.getElementById("error").classList.add("hidden"); 
              document.getElementById("whole").classList.remove("background"); 
                }
            function success() {
              document.getElementById("congratulations").classList.remove("hidden"); 
              document.getElementById("profile_information_title").classList.add("hidden");
              document.getElementById("whole").classList.add("background"); 
                }
             function error() {
              document.getElementById("error").classList.remove("hidden"); 
              document.getElementById("congratulations").classList.add("hidden"); 
              document.getElementById("profile_information_title").classList.add("hidden");
               
                }
            
            
            
            
            </script>
    </body>
</html>