{% load static %}

<head>
    <title>{{client.client_name}}</title>
    <link rel="stylesheet" href="{% static 'sit/fontstyle.css' %}">
    <link rel="stylesheet" href="{% static 'sit/general.css' %}">
</head>

<body>

    <div id="header">
        <a href="/" id="logoutImg">Logout</a>
    </div>
    <div id="logo">
        <img id="logo_pic" src="{% static 'sit/images/th.jpg' %}" placeholder="Picture of the logo">
    </div>
    <div id="back_button">
        <a href="/adminHome">&lang; Back</a>
    </div>

    <div id="else">
        <h2>Client: {{client.client_name}}</h2>
        <ul>
            <li>Phone Number: {{client.client_phone}}</li>
            {% for child in children%}
            <li>Child: {{child}}</li>
            {% endfor %}
        </ul>
    </div>
</body>