<h3>Hello {{ sitter.babysitter_fname }}</h3>


<h1>{{ job }}</h1>
<ul>
    <li>Location: {{job.location}}</li>
    <li>{{ job.num_child }} child(ren)</li>
    <li>Starts: {{job.datetime_start}}</li>
    <li>Ends: {{job.datetime_end}}</li>
    <li>Assigned to: {{ job.sitter }}</li>
    {% for child in children %}
        <li>Child: {{child.child_firstname}}, who is {{child.child_age_years}} years and {{child.child_age_months}} months old</li>
    {% endfor %}
</ul>

<br><br><br><br><br>

{% if not job.sitter %}
<p>This job is available. Take it?</p>
<p>Warning: you will not be able to undo this. You will be responsible for this job.</p>
<form action='/pickup/{{ job.id }}/{{ sitter.id }}' method='post'>
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Take this Job" class="submit">
</form>

{% endif %}
