<h1>{{ job }}</h1>
<ul>
    <li>Location: {{job.location}}</li>
    <li>{{ job.num_child }} child(ren)</li>
    <li>Starts: {{job.datetime_start}}</li>
    <li>Ends: {{job.datetime_end}}</li>
    <li>Assigned to: {{ job.sitter }}</li>
    {% for child in children %}
        <li>Child: {{child.child_firstname}}, who is {{child.child_age_years}} years and {{child.child_age_months}} months old</li>
    {% endfor %}
</ul>

<p>This job is available. Take it?</p>
<button onclick="{{ job.sitter=sitter}}">Take Job</button>

