{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Admin babysitter profile</title>
        <link rel="stylesheet" href="{% static 'sit/profile.css' %}">
    </head>
    <body>
    <div id="header">
        <header>
        <img class = "box" id = "logo" src="{% static 'sit/images/logo.jpg' %}"  >
        <a href="http://cs.westminstercollege.edu/pcs/sit/"><img class = "back_login" src = "{% static 'sit/images/logout.png' %}"></a>
        </header>
    </div>
        <div id="back_button">
            <a href="https://www.w3schools.com/html/">&lang; Back</a>
        </div>
        <div id="profile_title">
            <h1>Babysitter Profile</h1>
        </div>
        <div id="image">
            <img class="leftbox" id="sitters" src="{% static 'sit/images/profile-image.jpg' %}">
        </div>
        <div id="profile_name">
            <h1>Melissa Jone</h1>
            <br>
            <p>21 years old</p>
        </div>
        <div id="profile_information_title">
            <ul style="list-style-type:square;">
            <li>Telephone: <span class = "text">+1(123)-123-1234</span></li>
            <br>
            <li>Email: <span class = "text">abc123@gmail.com</span></li>
            <br>
            <li>Address: <span class = "text">1840S 1333E</span></li>
            <br>
            <li>Languages: <span class = "text">English</span></li>
            <br>
            <li>Experience: <span class = "text">3 years</span></li>
            <br>
            <li>Age range: <span class = "text">1-3 years old</span></li>
            </ul>
        </div>
        <div id="profile_information_text">
            <p>Experience with Physically/Mentally Challenged children</p>
        </div>
        <div id="link_resume">
            <a href="https://www.google.com/"><font color="white">Resume</font></a>
        </div>
        <div id="link_edit">
            <a href="https://www.google.com/">Edit</a>
        </div>
        <div id= "Accepted_job" class= "job_box">

            <div id= "AJbox">
    
    
                <span class= box_text> Bob & Joe</span>
    
                <span class= sub_text> October 31, 2019</span> 
    
        </div>
    
            <h4 id ="sizeOfh4">Accepted job offers</h4>
    
        </div>
    
            
    
         <div id= "Past_job" class= "job_box">
    
             <div id= "PaJbox">
    
    
                <span class= box_text> Bob & Joe</span>  
    
                <span class= sub_text> October 31, 2019</span> 
    
             </div>
    
            <h4 id ="sizeOfh4">Past job offers</h4>
    
        </div>
    </body>
</html>