{% load static %}

<head>
    <title>Sitter Login</title>
    <link rel="stylesheet" href="{% static 'sit/fontstyle.css' %}">
    <link rel="stylesheet" href="{% static 'sit/general.css' %}">
</head>

<body>

    <div id="header">
        <a href="/" id="logoutImg">Logout</a>
    </div>
    <div id="logo">
        <img id="logo_pic" src="{% static 'sit/images/th.jpg' %}" placeholder="Picture of the logo">
    </div>
    <!-- <div id="back_button">
        <a href="/adminHome">&lang; Back</a>
    </div> -->

    <div id="else">
        <h2>Log in as who?</h2>
        <ul>
            {% for sitter in sitters%}
            <li><a href="/sitterHome/{{sitter.id}}">{{ sitter }}</a></li>
            {% endfor %}
        </ul>
    </div> 
</body>